.client-form
  @extend .form
  @extend .form-horizontal
  @extend .clearfix
  background-color: #fff
  box-shadow: -5px -5px 45px rgba(#000, .5)
  padding: 30px
  margin-right: -1000px
  overflow: auto
  transition: all .5s ease

  .btn
    border-radius: 0

  .form-group
    margin-bottom: 20px

  .control-label
    font-weight: 300
    text-transform: uppercase
    padding-right: 0
    color: #999999
    padding-top: 12px

  .form-control
    border-radius: 0
    height: 44px

.client-form__head
  margin: 0 0 30px 0
  padding: 0


.client-form-panel
  opacity: 0
  background-color: rgba(#000, .5)
  bottom: 0
  display: flex
  justify-content: flex-end
  left: 0
  position: fixed
  right: 0
  transition: all .25s ease
  top: 0
  visibility: hidden

  &.active
    opacity: 1
    visibility: visible

    .client-form
      margin-right: 0
