.client-list
	@extend .table
	@extend .table-hover
	@extend .table-striped
	@extend .table-responsive
	td, th
		padding: 12px 20px !important
		border: none !important

.client-list__head
	background-color: #9B9B9B
	color: #eee
	font-size: 1.2em

.client-list__body
	color: #9B9B9B

.client-list__row__cell
	a
		color: #ccc
		padding-right: 4px
		&:hover
			color: #333
	a.active
		color: orange
