.status-dropdown
	button
		width: 170px
		border-radius: 0
		border: none
		background-color: $brand-primary
		color: #fff
		font-size: 1em
		text-align: left
		&:focus, &:active
			outline: none !important
			background-color: $brand-primary
			color: #fff
		.caret
			margin-left: 6px
			margin-top: 8px
			float: right



	.dropdown-menu
		margin: 0
		border: none
		border-radius: 0
		background-color: #555
		color: #fff
		padding: 0
		a
			cursor: pointer
			color: white
			padding: 7px 10px
			font-size: .9em
			&:hover
				background-color: rgba($brand-primary, .25)
				color: white

