.header
	background-color: #4A4A4A
	margin-bottom: 15px

.header__brand
	color: #eee
	font-size: 1.8em
	padding: 20px 0
	a
		color: #eee
		text-decoration: none
		font-weight: 700
		span
			transition: all .25s ease-in-out
		&:hover
			span
				color: lighten($brand-primary, 10%)
				// border-bottom: solid 3px #555
			&:after
				content: "Home"
				margin-left: 10px
				font-size: .75em
				color: #666
