@import node_modules/bootstrap-sass/assets/stylesheets/bootstrap

@import components/layout
@import components/header
@import components/add-client-button
@import components/client-list
@import components/client-form
@import components/status-dropdown

.sync-status
  background-color: #ccc
  color: #666
  padding: 10px
  position: absolute
  right: 0
  top: 0
